{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="col-md-6 offset-md-3">
    <div class="card img-bg">
        <div class="card-body">
            <h5 class="card-title">Caesar Cipher Checking</h5>
            <p class="card-text">The Caesar Cipher technique is one of the earliest and simplest methods of encryption
                technique. It’s simply
                a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number
                of positions down the alphabet.</p>
            <a href="caesarcipher" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Caesar Cipher</h5>
            <p class="card-text">The Caesar Cipher technique is one of the earliest and simplest methods of encryption
                technique. It’s simply
                a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number
                of positions down the alphabet.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Caesar Cipher</h5>
            <p class="card-text">The Caesar Cipher technique is one of the earliest and simplest methods of encryption
                technique. It’s simply
                a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number
                of positions down the alphabet.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Caesar Cipher</h5>
            <p class="card-text">The Caesar Cipher technique is one of the earliest and simplest methods of encryption
                technique. It’s simply
                a type of substitution cipher, i.e., each letter of a given text is replaced by a letter with a fixed number
                of positions down the alphabet.</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
{% endblock body %}