{% extends 'base.html' %}

{% block title %}Cipher{% endblock title %}

{% block body %}
<h1>Columnar Transposition Cipher</h1>

    <div class="row pt-3 m-2">
        <form action="{% url 'transpositionEncrypt' %}" method="post">
            {% csrf_token %}
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Plain Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="plain_text"></textarea>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mt-5">
                    <div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Key</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="key" required></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <input type="submit"class="btn btn-success" value="Encrypt">
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Cipher Text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">{{transpositioncipher}}</textarea>
            </div>
        </div>
    </div>

<hr>

    <div class="row pt-3 m-2">
        <form action="{%url 'transpositionDecrypt'%}" method="post">
            {% csrf_token %}
            <div class="col-md-5">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Cipher Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="cipher_text"></textarea>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mt-5">
                    <div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Key</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="key" required></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly">                    
                        <input type="submit"class="btn btn-danger" value="Decrypt">
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-5">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Plain Text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="cipher_text">{{plain}}</textarea>
            </div>
        </div>
    </div>

{% endblock body %}